.statusBarContainer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 9vh;
  position: fixed;
  z-index: 9000;
  background-color: white;
}

.statusBar {
  margin: 0px 20px;
  border-top: solid #e8e8e8 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.status {
  margin: 3vh 40px;
  font-size: small;
  font-weight: bold;
}

.warning {
  color: #faad14;
}

.success {
  color: #1da57a;
}
