.header {
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 0 20px;
}

.content {
  background: white;
  padding: 24;
  margin-top: 80;
  margin: 0;
  min-height: 92vh;
}

.center {
  text-align: center;
}

.logo {
  width: 200px;
  text-align: right;
  background: rgba(255, 255, 255, 0.2);
  float: right;
  padding: 0 20px;
}
