.text {
  font-family: Caslon;
  margin: 6px;
}

.bold {
  font-family: CaslonBold;
}

.title {
  padding-top: 20px;
  padding-bottom: 12px;
  margin: 0.6em 0;
  border-style: solid hidden solid hidden;
}

.allcaps {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.wide {
  min-width: 60%;
}

.rule {
  padding-top: 20px;
  padding-bottom: 18px;
  min-height: 3em;
  background-color: #dddddd;
  margin-bottom: 0.5em;
}

.hover {
  border: 3px solid #1da57a;
  cursor: text;
  padding: 0px 16px;
  /* margin-bottom: 3px; */
}

.noHover {
  margin: 3px;
  padding: 3px 16px;
}
