.small {
  font-size: 16px;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 24px;
}

.allcaps {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
